<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655617181482-c10chobs52jrnouq2ittaigjeba5niov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655617181482-c10chobs52jrnouq2ittaigjeba5niov</string>
	<key>API_KEY</key>
	<string>AIzaSyBo4_LeM3fIusLaYhBypmwvBGhYM9FbVks</string>
	<key>GCM_SENDER_ID</key>
	<string>655617181482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ekaleerwe.forexsomo</string>
	<key>PROJECT_ID</key>
	<string>forexsomo</string>
	<key>STORAGE_BUCKET</key>
	<string>forexsomo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655617181482:ios:09427c1ccc3ac17a0b4053</string>
</dict>
</plist>